body, main 
{
    display: flex;
}

body
{
    flex-direction: column;
}

main
{
    flex-direction: row;
    flex: auto;
}

article
{
    flex: 66.5%;
    overflow-y: auto;
    background-color: rgba(85, 103, 132, 0.326);
    border: 2px;
}

aside
{
    flex:33.5%;
    overflow-y: auto;
}

div 
{
    border-style:solid;
    border-color:rgb(218, 42, 80)
    border-width: 3px;
    border-radius: 3%;
}